<!DOCTYPE html>
<html>
<head>
<title>DFT HEAT system</title>
</head>


<body>


<p><font size="20" face="Verdana">
DFT Huge Equipment Ageing Test system
</font></p>
<hr />
<br />

<form method="get" action="/init" target="_blank">
<input type="submit" style="width:100px;height:30px;" value="INIT">
</form>
<form method="get" action="/run" target="_blank">
<input type="submit" style="width:100px;height:30px;" value="START">
</form>
<form method="get" action="/stop">
<input type="submit" style="width:100px;height:30px;" value="STOP">
</form>
<form method="get" action="/open_log" target="_blank">
<input type="submit" style="width:100px;height:30px;" value="OPEN LOG">
</form>





</body>
</html>