<!DOCTYPE html>
<html>
<head>
{{flag}}
<title>DFT HEAT system</title>
<style type="text/css">
div#container{width:100%}
div#header {background-color:#FAEBD7;font-family:Georgia;font-size:20px;}
div#menu {background-color:#87CEFA;height:244px;width:10%;float:left;font-family:sans-serif;}
div#content {background-color:#EEEEEE;height:100%;width:90%;float:right;}
div#footer {background-color:#99CC66;clear:both;text-align:left;}
h1 {margin-bottom:0;}
h3 {margin-bottom:0;font-size:18px;}
</style>
</head>

<body>

<div id="container">

<div id="header">
<h1>DFT Huge Equipment Ageing Test system</h1>
<hr/>

</div>

<div id="menu">

<h3>MENU</h3>
<form method="get" action="/init">
<input type="submit" style="width:100%;height:30px;" value="INIT">
</form>
<form method="get" action="/run">
<input type="submit" style="width:100%;height:30px;" value="START">
</form>
<form method="get" action="/stop">
<input type="submit" style="width:100%;height:30px;" value="STOP">
</form>

</div>

<div id="content">

<table border="1" width="100%">
{% for name,address in color.items() %}
{% if name % 10 == 1 %}
<tr>
{% end %}
<td align=middle {{address}}><a href="/open_round/{{url[name]}}">{{name}}</a></td>
{% if name % 10 == 0 %}
</tr>
{% end %}
{% end %}
</table>

</div>

<div id="footer">

<p>
HEAT status: {{tstatus}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
HEAT round: {{tround}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
start time: {{ttime}}
</p>

</div>
</div>

</body>
</html>
